/* Mixins */

@mixin container {
    width: 1470px;
}

@mixin button {
    border: 0;
    color: #ffff;
    padding: 10px 0;
    font-size: 0.75rem;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;

    &:hover {
        cursor: pointer;

    }
}

@mixin row {
    display: flex;

    &.m {
        width: 1350px;
    }
}

@mixin border-card {
    border-bottom-right-radius: 80px 80px;

    h4 {
        color: #ffff;
    }
}