/* Mixins */

@mixin container {
    width: 1490px;
}

@mixin button {
    border: 0;
    color: #ffff;
    padding: 10px 0;
    font-size: 0.75rem;
    border-radius: 5px;

    &:hover {
        cursor: pointer;

    }
}

@mixin row {
    display: flex;
}